.table-spreadsheet {
	border: 1px solid #B0CBEF;
	border-width: 1px 0px 0px 1px;
	font-size: 11pt;
	font-family: Calibri;
	font-weight: 100;
	border-spacing: 0px;
	border-collapse: collapse;
	width:100%;
}

.table-spreadsheet th {
	background-image: url(excel-2007-header-bg.gif);
	background-repeat: repeat-x; 
	font-weight: normal;
	font-size: 14px;
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
	height: 22px;
}

.table-spreadsheet td {
	border: 0px;
	background-color: white;
	border: 1px solid #D0D7E5;
	border-width: 0px 1px 1px 0px;
}

.table-spreadsheet td input {
	border: 0px;
	width:100%;
	border: 0px;
	padding: 4px;
}

.table-spreadsheet td b {
	border: 0px;
	background-color: white;
	font-weight: bold;
}

.table-spreadsheet td.heading {
	background-color: #E4ECF7;
	text-align: center;
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
}

.table-spreadsheet th.heading {
	background-image: url(excel-2007-header-left.gif);
	background-repeat: none;
	width:25px;
	height:22px;
}
