.label.label-transparent,
.label-transparent,
.badge.badge-transparent,
.badge-transparent {
  background-color: transparent;
}
.label-grey,
.label.label-grey,
.badge.badge-grey,
.badge-grey {
  background-color: #a0a0a0;
}
.label-info,
.label.label-info,
.badge.badge-info,
.badge-info {
  background-color: #3a87ad;
}
.label-primary,
.label.label-primary,
.badge.badge-primary,
.badge-primary {
  background-color: #428bca;
}
.label-success,
.label.label-success,
.badge.badge-success,
.badge-success {
  background-color: #82af6f;
}
.label-danger,
.label.label-danger,
.badge.badge-danger,
.badge-danger {
  background-color: #d15b47;
}
.label-important,
.label.label-important,
.badge.badge-important,
.badge-important {
  background-color: #d15b47;
}
.label-inverse,
.label.label-inverse,
.badge.badge-inverse,
.badge-inverse {
  background-color: #333333;
}
.label-warning,
.label.label-warning,
.badge.badge-warning,
.badge-warning {
  background-color: #f89406;
}
.label-pink,
.label.label-pink,
.badge.badge-pink,
.badge-pink {
  background-color: #d6487e;
}
.label-purple,
.label.label-purple,
.badge.badge-purple,
.badge-purple {
  background-color: #9585bf;
}
.label-yellow,
.label.label-yellow,
.badge.badge-yellow,
.badge-yellow {
  background-color: #fee188;
}
.label-light,
.label.label-light,
.badge.badge-light,
.badge-light {
  background-color: #e7e7e7;
}
.badge-yellow,
.label-yellow {
  color: #996633;
  border-color: #fee188;
}
.badge-light,
.label-light {
  color: #888888;
}
.label.arrowed,
.label.arrowed-in {
  position: relative;
  z-index: 1;
}
.label.arrowed:before,
.label.arrowed-in:before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  border: 1px solid transparent;
  border-right-color: #abbac3;
  -moz-border-right-colors: #abbac3;
}
.label.arrowed-in:before {
  border-color: #abbac3;
  border-left-color: transparent;
  -moz-border-left-colors: none;
}
.label.arrowed-right,
.label.arrowed-in-right {
  position: relative;
  z-index: 1;
}
.label.arrowed-right:after,
.label.arrowed-in-right:after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  border: 1px solid transparent;
  border-left-color: #abbac3;
  -moz-border-left-colors: #abbac3;
}
.label.arrowed-in-right:after {
  border-color: #abbac3;
  border-right-color: transparent;
  -moz-border-right-colors: none;
}
.label-info.arrowed:before {
  border-right-color: #3a87ad;
  -moz-border-right-colors: #3a87ad;
}
.label-info.arrowed-in:before {
  border-color: #3a87ad #3a87ad #3a87ad transparent;
  -moz-border-right-colors: #3a87ad;
}
.label-info.arrowed-right:after {
  border-left-color: #3a87ad;
  -moz-border-left-colors: #3a87ad;
}
.label-info.arrowed-in-right:after {
  border-color: #3a87ad transparent #3a87ad #3a87ad;
  -moz-border-left-colors: #3a87ad;
}
.label-primary.arrowed:before {
  border-right-color: #428bca;
  -moz-border-right-colors: #428bca;
}
.label-primary.arrowed-in:before {
  border-color: #428bca #428bca #428bca transparent;
  -moz-border-right-colors: #428bca;
}
.label-primary.arrowed-right:after {
  border-left-color: #428bca;
  -moz-border-left-colors: #428bca;
}
.label-primary.arrowed-in-right:after {
  border-color: #428bca transparent #428bca #428bca;
  -moz-border-left-colors: #428bca;
}
.label-success.arrowed:before {
  border-right-color: #82af6f;
  -moz-border-right-colors: #82af6f;
}
.label-success.arrowed-in:before {
  border-color: #82af6f #82af6f #82af6f transparent;
  -moz-border-right-colors: #82af6f;
}
.label-success.arrowed-right:after {
  border-left-color: #82af6f;
  -moz-border-left-colors: #82af6f;
}
.label-success.arrowed-in-right:after {
  border-color: #82af6f transparent #82af6f #82af6f;
  -moz-border-left-colors: #82af6f;
}
.label-warning.arrowed:before {
  border-right-color: #f89406;
  -moz-border-right-colors: #f89406;
}
.label-warning.arrowed-in:before {
  border-color: #f89406 #f89406 #f89406 transparent;
  -moz-border-right-colors: #f89406;
}
.label-warning.arrowed-right:after {
  border-left-color: #f89406;
  -moz-border-left-colors: #f89406;
}
.label-warning.arrowed-in-right:after {
  border-color: #f89406 transparent #f89406 #f89406;
  -moz-border-left-colors: #f89406;
}
.label-important.arrowed:before {
  border-right-color: #d15b47;
  -moz-border-right-colors: #d15b47;
}
.label-important.arrowed-in:before {
  border-color: #d15b47 #d15b47 #d15b47 transparent;
  -moz-border-right-colors: #d15b47;
}
.label-important.arrowed-right:after {
  border-left-color: #d15b47;
  -moz-border-left-colors: #d15b47;
}
.label-important.arrowed-in-right:after {
  border-color: #d15b47 transparent #d15b47 #d15b47;
  -moz-border-left-colors: #d15b47;
}
.label-danger.arrowed:before {
  border-right-color: #d15b47;
  -moz-border-right-colors: #d15b47;
}
.label-danger.arrowed-in:before {
  border-color: #d15b47 #d15b47 #d15b47 transparent;
  -moz-border-right-colors: #d15b47;
}
.label-danger.arrowed-right:after {
  border-left-color: #d15b47;
  -moz-border-left-colors: #d15b47;
}
.label-danger.arrowed-in-right:after {
  border-color: #d15b47 transparent #d15b47 #d15b47;
  -moz-border-left-colors: #d15b47;
}
.label-inverse.arrowed:before {
  border-right-color: #333333;
  -moz-border-right-colors: #333333;
}
.label-inverse.arrowed-in:before {
  border-color: #333333 #333333 #333333 transparent;
  -moz-border-right-colors: #333333;
}
.label-inverse.arrowed-right:after {
  border-left-color: #333333;
  -moz-border-left-colors: #333333;
}
.label-inverse.arrowed-in-right:after {
  border-color: #333333 transparent #333333 #333333;
  -moz-border-left-colors: #333333;
}
.label-pink.arrowed:before {
  border-right-color: #d6487e;
  -moz-border-right-colors: #d6487e;
}
.label-pink.arrowed-in:before {
  border-color: #d6487e #d6487e #d6487e transparent;
  -moz-border-right-colors: #d6487e;
}
.label-pink.arrowed-right:after {
  border-left-color: #d6487e;
  -moz-border-left-colors: #d6487e;
}
.label-pink.arrowed-in-right:after {
  border-color: #d6487e transparent #d6487e #d6487e;
  -moz-border-left-colors: #d6487e;
}
.label-purple.arrowed:before {
