html,body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
    line-height: 1.2;
}

#container {
    position: relative;
    left: 0px;
    top: 0px;
    cursor: pointer;
    overflow: hidden;
    background-size: 100% 100%;
    box-sizing: border-box;
    z-index: 100;
}

.element {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.hide {
    opacity: 0;
}

#border {
    opacity: 1;
    border: 1px solid #000000;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    pointer-events: none;
    z-index:50;
}

#overlay{
    top: auto;
}

#textline1, #textline2, #textline3, #textline4, #textline5{
    position: relative;
    top:30px;
    margin-left: 30px;
    width: 240px;
    height: auto;
    font-size: 18px;
    z-index:10;
    opacity: 1;
}

#textline1{
    top:30px;
    font-size: 20px;
    font-weight: 700;
}

#textline2{
    padding-top: 10px;
    width:
}

#textline3{
    padding-top: 10px;
}

#cta {
    position: absolute;
    top: 245px;
    line-height: 29px;
    font-size: 16px;
    z-index:35;
    text-transform:uppercase;
    left: 30px;
    font-weight: 700;
    border: 3px solid #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

#cta_shine {
    position: absolute;
    left: 30px;
    top: 245px;
    width: 155px;
    height: 35px;
    overflow: hidden;
    pointer-events: none;
    z-index: 34;
}

#cta_shine.active:after {
    content: '';
    position: absolute;
    width: 136px;
    left: -136px;
    transform: skewX(-20deg);
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.6), rgba(255,255,255,0));
    height: 100%;
    animation: shine 0.50s ease-out;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes shine {
    100% {
        left: 100%;
    }
}

#url{
    display: block;
    margin: 0 0;
    padding: 0 0;
    color: #ffffff;
    text-decoration: none;
}

#url:hover, #url:active, #url:focus, #url:visited{
    color: #ffffff;
    text-decoration: none;
}
